body {
  font-family: calibri;
}

.calculator {
  background-color: #eaeaea;
  width: 300px;
  margin: 50px auto;
  border-radius: 8px;
  padding: 8px;
}

#screen {
  width: 100%;
  box-sizing: border-box;
  outline: none;
  font-size: 30px;
  text-align: right;
  padding: 5px 3px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 70px;
  font-size: 30px;
  border: 1px solid #d1d1d1;
  border-top: none;
  border-left: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

.btn:nth-child(4n + 1) {
  border-left: 1px solid #d1d1d1;
}

.btn:hover {
  cursor: pointer;
  background-color: #d1d1d1;
}

.operator {
  background-color: #c0c0c0;
}

#zero {
  flex-grow: 1;
}

#equals {
  background-color: #ff7b00b2;
}

#equals:hover {
  background-color: #ff7b00;
}